@font-face {
  font-family: "iconfont"; /* Project id 4205394 */
  src: url('iconfont.woff2?t=1692671471232') format('woff2'),
       url('iconfont.woff?t=1692671471232') format('woff'),
       url('iconfont.ttf?t=1692671471232') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before {
  content: "\e67f";
}

.icon-shipinbofang:before {
  content: "\e601";
}

.icon-biaoqing:before {
  content: "\e648";
}

.icon-huati:before {
  content: "\e8b1";
}

.icon-shezhi:before {
  content: "\e600";
}

.icon-shezhi1:before {
  content: "\e8b7";
}

.icon-zhuti:before {
  content: "\e6d3";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-shouye:before {
  content: "\e61f";
}

.icon-shuaxin:before {
  content: "\e60a";
}

.icon-jiantouyou:before {
  content: "\e62d";
}

.icon-talk-s:before {
  content: "\e651";
}

.icon-tianxie:before {
  content: "\ec88";
}

.icon-sousuo:before {
  content: "\e665";
}

