// global.less
@primary-color: red;
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 12px;
  line-height: normal;
  background-color: #f2f3f5;
}
.f-r {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
