// global.less
@primary-color: red;
@chat-red-color: #D75151;
@chat-blue-dark-color: #3500E0;
@chat-blue-light-color: #BDDBF3;
@chat-blue-light-back-color: #ACD6E7;
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 12px;
  line-height: normal;
  background-color: #f2f3f5;
}
.f-r {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.f-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.p-r-10 {
  padding-right: 10px;
}
